html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: rgb(245, 245, 245);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

.profile-image-upload {
  opacity: 1;
  transition: .2s ease;
  cursor: pointer;
}

.profile-image-upload:hover {
  opacity: 0.7;
  transition: .2s linear;
}